* {
  margin: 0;
  padding: 0;
}

body { -webkit-app-region: drag; }

#cover {
  position: fixed;
  display: none;
  background-color: black;
  width: 100%;
  height: 240px;
  z-index: 1;
  opacity: 0.5;
}

.button {
  position: relative;
  z-index: 0;
  -webkit-app-region: no-drag;
  background-color: deepskyblue;
  color: white;
  width: 50%;
  height: 80px;
  float: left;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.2s ease-out, height 0.2s;  
}

#buttonUndo, #buttonRedo { font-size: 36px; }

#buttonDrag {
  -webkit-app-region: drag;
   background-color: whitesmoke;
   color: black;
}

#buttonExit { background-color: indianred; }

#buttonCheck {
  height: 0;
  width: 100%;
  clear: both;
}

#buttonCheck i {
  transition: opacity 0.2s;
  opacity: 0;
}

.buttonClicked { background-color: lightskyblue; }

.buttonPressed { background-color: dodgerblue; }

i { line-height: 80px !important; }